package-lock=false

; Private publish target for the package (works only within ABB internal network)
;@abb:registry=http://10.58.44.133:8081/repository/abb-common-ux/

; Alternative target, which works also outside ABB internal network:
@abb:registry=https://pkgs.dev.azure.com/ABB-IAA-CommonUX/_packaging/software-components/npm/registry/
always-auth=true